{
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": false,
    "singleAttributePerLine": false,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "printWidth": 100
}
